.profile {
    
    margin: 0 20PX;
    grid-area: Profile;
    padding: 20px;
}
.profile h2 {
    margin-bottom: 10px;
}
@media (max-width:545px) { 
   .profile .description {
    display: inline;
   }
   .profile{
       padding: 20px;
       margin: 0;
   }
}