.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    grid-area: Skills;
    

}
.skills__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    color: black;
    border-radius: 50px;
}
@media (max-width:545px) {
    .skills {
        padding: 20px;
        margin: 0;
    }

}