* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 90 vw;
    margin: 50px 90px;
    padding: 1em;
    font-size: 16px;
    line-height: 22px;
    
    position: relative;
    z-index: 20;
   
    background: white;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  main { 
    position: relative;
    z-index: 20;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: repeat(5, minmax(120px,auto));
    grid-template-areas: 
                         "Profile Profile"
                         "Experience Experience"
                         "Academic Skills"
                         "Interest Languages"
                         "social social";
    grid-row-gap: .8em;
    grid-column-gap: .5em;
    min-height: 100vh;
  }
  main section {
      padding: 25px 0;
      border-bottom: 3px solid #0791e6;
  }
   main section:last-child {
       border-bottom: 0px;
   }


  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
h2 {
    margin-bottom: 15px;
}
h3{
    margin-bottom: 10px;
}

.bold {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
.title {
    color:#0791e6;
}
.item__title{
    color:#0bb5f4 ;
}

